registry=http://artifactory.blueking.zycfc.com/artifactory/api/npm/npm-remote-origin/
@zycfc:registry=http://artifactory.blueking.zycfc.com/artifactory/api/npm/npm-local
@ucard:registry=http://artifactory.blueking.zycfc.com/artifactory/api/npm/npm-local
@mt:registry=http://artifactory.blueking.zycfc.com/artifactory/api/npm/npm-local
@lark:registry=http://artifactory.blueking.zycfc.com/artifactory/api/npm/npm-local
@tech-inno:registry=http://artifactory.blueking.zycfc.com/artifactory/api/npm/npm-local
